{{extend 'layout.html'}}
<div class="row">
    <!--<div class="column"style="margin-top: 50px">
    <h2 style="margin-top: 100px;"></h2>-->
       {{#=form}}
        <h1>
         <center>Proveedores</center> 
        </h1>
        <table class="table">
           <thead class="thead-dark">
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <td scope="col">Telefono</td>
                <td scope="col">personaContacto</td>
                </tr>
            </thead>
            <tbody>
                        {{for proveedor in proveedores:}}
                <tr>
                <td>{{=proveedor.f_nombre}}</td>
                <td>{{=proveedor.f_direccion}}</td>                
                <td>{{=proveedor.f_telefono}}</td>
                <td>{{=proveedor.f_personaContacto}}</td>
                <td>{{producto=db(db.products.productSize==proveedor.id).select(db.products.productName,db.products.productPrice,db.products.id)}}
       <select id="producto">
          {{for p in producto:}}
     {{=OPTION(p.productName,XML(p.productPrice),_value='p.id')}}
          {{pass}}
      </select>
       </td>
        </tr>
           {{pass}}
       </tbody>
            <tfoot class="thead-dark">
        <tr>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
         </tr>
         </tfoot>
     </table>
 <div class="first-row">
      <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Suits'})}}"><img src="{{=URL('static','/_2.20.4/images/columns/ca.jpg')}}" alt="Campo Austral" width="200"></a>
      </div>
       <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Jeans'})}}"><img src="{{=URL('static', '/_2.20.4/images/columns/pa.jpg')}}" alt="Don Felix" width="200"></a>
      </div>
       <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Suits'})}}"><img src="{{=URL('static', '/_2.20.4/images/columns/emp.jpg')}}" alt="Emperaador Queso Azul" width="200"></a>
      </div>
      <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Tshirts'})}}"><img src="{{=URL('static', '/_2.20.4/images/columns/pi.jpg')}}" alt="Piamontesa" width="200"></a>
      </div>
      <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Jackets'})}}"><img src="{{=URL('static', '/_2.20.4/images/columns/df.jpg')}}" alt="Primer Premio" width="200"></a>
      </div>
      <div class="col-md-2">
         <a href="{{=URL('products',vars={'type':'Tshirts'})}}"><img src="{{=URL('static', '/_2.20.4/images/columns/pp.jpg')}}" alt="Punta del Agua" width="200"></a>
      </div>
   </div>
    {{block footer}} <!-- This is the footer for the Sosa website -->      
<!--<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">SERVICIO AL CLIENTE</h6>
        <ul class="footer-ul">
          <li><a href="#">Entrega y devoluciones</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Guia de tamaños</a></li>
          <li><a href="#">Mi cuenta</a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">INFORMATION UTIL</h6>
        <ul class="footer-ul">
          <li><a href="#">Terminos y Condiciones</a></li>
          <li><a href="#">Politicas de provacidad</a></li>
          <li><a href="#">Politica de Cookies</a></li>
          <li><a href="#">Accesibilidad</a></li>  
          <li><a href="#">Metodos de Pago</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">ACERCA DE </h6>
        <ul class="footer-ul">
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Nuestros productos</a></li>
          <li><a href="#">Un poco de historia</a></li>
          <li><a href="#">Conviertete en afiliado</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">SOCIAL MEDIA</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="copyright">
  <div class="container">
      <p>Copyright © PediaFabrica 2020 - Todos los derechos reservados.</p>
  </div>
</footer>
</div>
        
    {
