/* DOCUMENT INFORMATION
* Document: IndexcampoAustral.css
* Version: v31
* Assignment: WP Assignment Web2py 2017
* Authors: Keeran, Regson, Marcel & Louis 
*/

/* ===== BODY ===== */
body {
    margin: 0px;
    color: #262626;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 40px;
}

/* ==== NAVBAR CONTAINER ==== */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* ==== FADE BS-CAROUSEL ==== */

/* The height of the carousel and indicators, and styles the indicators */
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* Styling the hero text and transitions */
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/* Styling the overlay of the image */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/* Styling the buttons */
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #262626;
    background-color: #fff;
    border-color: #fff;
    outline: none;
    margin: 20px auto;
}

/* Styling the background images that have been uploaded */
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://www.campoaustral.com.ar/img/productos_curados_patajamon.png); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://www.campoaustral.com.ar/img/hl_05.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://www.cronista.com/__export/1460732916323/sites/diarioelcronista/img/3dias/2016/04/15/campo-austral.jpg_554688468.jpg);
}

/* Media queries for the carousel */
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/* ==== RESPONSIVE ==== */

/* Removes the edge padding needed for mobile */
@media (min-width: 768px) {
.marketing {
    padding-left: 0;
    padding-right: 0;
}

/* Navbar positioning foo */
.navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
/* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
}

/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
 }
}

/* ==== ROWS ==== */

/* Formatting the links and paragraphs */
.row a {
    text-decoration: none;
    color: #262626;
}

.row p {
    margin-top: 10px;
}

/* ==== PAGE HEADERS ==== */

/* Styling the page headers - Featured collections and best sellers */
.page-header {
    border-bottom: none;
    margin-bottom: 20px;
}

.page-header h4 {
 overflow: hidden;
 text-align: center;
 color: #000;
 margin-bottom: 20px;
 letter-spacing: 2px;
}

.page-header h4:before,
.page-header h4:after {
 background-color: #ebebeb;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
.page-header h4:before {
 right: 1em;
 margin-left: -50%;
}
.page-header h4:after {
 left: 1em;
 margin-right: -50%;
}

/* ==== Brands ==== */

/* Styling the brands with 6 images*/
.brands {
  background-color:#fff;
}

.brands a {
  display:block;
  text-align:center;
  padding:40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding:30px 0;
  }
}

.brands a img {
  display:inline-block;
  margin:10px 20px;
  vertical-align:middle;
}

.brands a:hover {
    color: fff;
}
